 	<section>
       
        <div class="separador foo" style= " background-image:url(<%= asset_path("separadormulti.png") %>);  height: 100px; margin-top: 0px; margin-bottom: 0px" >
            


       
        </div>

    </section> 